{% extends "layout.html" %}
{% block title %}Fighters{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="center-child">
    <h1>Fighters</h1>

    <h2>Sign Up:</h2>
    <form class="input-form" id="fighter-form" name="fighter-form" method="POST">
        <fieldset>
          <legend>New Fighter:</legend>
          <input type="text" name="fighter-name" id="fighter-name" placeholder="Name"/>
          <input type="text" name="fighter-weapon" id="fighter-weapon" placeholder="Weapon ID"/>
          <input type="submit" class="button" id="fighter-submit" value="Sign Up"/>
        </fieldset>
    </form>

    <h2>Current Participants</h2>
    <table id="fighter-table">
      <tr>
        <th>Fighter Name</th>
        <th>Fighter ID</th>
        <th>Fighter Weapon</th>
      </tr>

	  {% for fighter in fighters %}
		<tr>
			<td>    
				<form class="table-form" name="fighterForm" method="POST" action="/results">
				<input type="hidden" name="fighterName" id="fighterName" value="{{ fighter['fighterName'] }}">  
				<button type="submit" name="submit_fighter" value="submit_value" class="link-button"> {{ fighter['fighterName'] }} </button>
				</form> </td>
			<td>{{ fighter['fighterID'] }}</td>
			<td>{{ fighter['weapon'] }}</td>
		</tr>
      {% endfor %}
	  
	  
    
    </table>
  </div>
{% endblock %}