{% extends "layout.html" %}
{% block title %}Fights{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="center-child">
    <h2>Add a New Fight</h2>
    <form class="input-form" id="new-fight-form" name="new-fight-form" method="POST">
        <fieldset>
          <legend>New Fight:</legend>
          <input type="number" step="1" min="1" name="fighter1-id" id="fighter1-id" placeholder="Fighter 1 ID"/>
          <input type="number" step="1" min="1" name="fighter2-id" id="fighter2-id" placeholder="Fighter 2 ID"/>
          <input type="number" step="1" min="1" name="prize-id" id="prize-id" placeholder="Prize ID (or empty)"/>
          <input type="date" name="fight-date" id="fight-date"/>
          <input type="submit" class="button" id="fight-insert" value="Submit Fight"/>
        </fieldset>
    </form>

    <h2>Update Fight Status</h2>
    <form class="input-form" id="edit-fight-form" name="edit-fight-form">
        <fieldset>
          <legend>Fight Update:</legend>
          <input type="number" step="1" min="1" name="old-fight-id" id="old-fight-id" placeholder="Fight ID"/>
          <input type="date" name="new-fight-date" id="new-fight-date"/>
          <select name="fight-winner" id="fight-winner">
            <option disabled selected value> -- select an option -- </option>
            <option value="fighter1-won">Fighter 1 Won</option>
            <option value="fighter2-won">Fighter 2 Won</option>
            <option value="fighter-draw">Draw</option>
          </select>
          <input type="number" step="1" min="1" name="new-prize-id" id="new-prize-id" placeholder="Prize"/>
          <input type="submit" class="button" id="fight-update" value="Update Fight"/>
        </fieldset>
    </form>

	<h2>Fight Records</h2>
    <table id="fight-table">
      <tr>
        <th>Fight ID</th>
        <th>Fight Date</th>
        <th>Fighter One</th>
		<th>Fighter Two</th>
		<th>Winner</th>
		<th>Associated Prize</th>
      </tr>
	  {% for fight in fights %}
		<tr>
			<td>{{ fight['fightID'] }}</td> 
			<td>{{ fight['fightDate'] }}</td>
			<td>{{ fight['fighter1'] }}</td>
			<td>{{ fight['fighter2'] }}</td>
			<td>{{ fight['winner'] }}</td>
			<td>{{ fight['prize'] }}</td>
		</tr>
      {% endfor %}
	  
	  
    
    </table>

  </div>
{% endblock %}