{% extends "layout.html" %}
{% block title %}Fights{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="center-child">
    <h2>Add a New Fight</h2>
    <form class="input-form" id="fighter-form" name="fighter-form">
        <fieldset>
          <legend>New Fight:</legend>
          <input type="number" step="1" min="0" name="fighter2-id" id="fighter1-id" placeholder="Fighter 1 ID"/>
          <input type="number" step="1" min="0" name="fighter2-id" id="fighter2-id" placeholder="Fighter 2 ID"/>
          <input type="number" step="1" min="0" name="prize-id" id="prize-id" placeholder="Prize ID (or empty)"/>
          <input type="date" name="fight-date" id="fight-date"/>
          <input type="submit" class="button" id="fighter-submit" value="Submit Fight"/>
        </fieldset>
    </form>

    <h2>Update Fight Status</h2>
    <form class="input-form" id="fighter-form" name="fighter-form">
        <fieldset>
          <legend>Fight Update:</legend>
          <input type="number" step="1" min="0" name="existing-fight-id" id="existing-fight-id" placeholder="Fight ID"/>
          <input type="date" name="new-fight-date" id="new-fight-date"/>
          <select name="fight-winner" id="fight-winner">
            <option disabled selected value> -- select an option -- </option>
            <option value="fighter1-won">Fighter 1 Won</option>
            <option value="fighter2-won">Fighter 2 Won</option>
            <option value="fighter-draw">Draw</option>
          </select>
          <input type="submit" class="button" id="fighter-submit" value="Update Fight Info"/>
        </fieldset>
    </form>



  </div>
{% endblock %}