{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
	<div class="center-child">
		<h1>Index</h1>
		<p> <ul>	
		<li> <a href="{{ url_for('fighters') }}">Fighters</a> Allows users to look up an existing Fighter or create a new Fighter. 
		Fighter profiles for existing Fighters will link to that Fighter's Prize results.
			
		<li> <a href="{{ url_for('weapons') }}">Weapons</a> Allows users to look up an existing Weapon or create a new Weapon. 
		Links to Fighter using that Weapon (if any).
		
		<li> <a href="{{ url_for('fightsetup') }}">Fights</a> Allows lookup and creation/modification of Fights (who is participating, when the Fight is). 
		Allows assignment of Prizes to Fights and assignment of Fight winners.
		
		<li> <a href="{{ url_for('prizes') }}">Prizes</a> Allows lookup and creation/modification of Prizes.
		
		<li> <a href="{{ url_for('results') }}">Fighter Wins</a> Contains leaderboard (Fighters with most wins) and allows users to look up a Fighter's Prizes.
			
		</ul> </p> 
	</div>
{% endblock %}