{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Index</h1>
  <p> <ul>
	<li> <a href="{{ url_for('main') }}">Main</a> Main landing page. Includes description of the tournament and user abilities.
	
	<li> <a href="{{ url_for('fighters') }}">Fighters</a> Allows users to look up an existing Fighter or create a new Fighter. 
	Fighter profiles for existing Fighters will link to that Fighter's Prize results.
		
	<li> <a href="{{ url_for('weapons') }}">Weapons</a> Allows users to look up an existing Weapon or create a new Weapon. 
	Links to Fighter using that Weapon (if any).
		
	<li> <a href="{{ url_for('results') }}">Fight Results</a> Contains leaderboard (Fighters with most wins) and allows users to look up a Fighter's Prizes.
	
	<li> <a href="{{ url_for('fights') }}">Fight Setup</a> Allows lookup and creation/modification of fights (who is participating, when the Fight is). 
	Allows assignment of Prizes to Fights and assignment of Fight winners.
    
  </ul> </p> 
{% endblock %}