<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %} - Dark Tournament</title>
    {% endblock %}
  </head>
  <body>
    <div class="page-wrapper">
    
      <div id="header">
        <div id="header-items" class="center">
          <h2 id="logo">Dark Tournament</h2>
          <img id="skull" alt = "https://img.icons8.com/ios-filled/50/000000/poison.png" src="https://img.icons8.com/ios-filled/50/000000/poison.png"/>
          <ul id="page-select">
            <li><a href="/">Index</a></li>
            <li><a href="fighters">Fighters</a></li>
            <li><a href="fights">Fights</a></li>
            <li><a href="weapons">Weapons</a></li>
            <li><a href="prizes">Prizes</a></li>
            <li><a href="results">Results</a></li>
          </ul>

        </div>
      </div>


      <div class="center">
        <div class="center-child">
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
				<ul class=flashes>
				{% for message in messages %}
				  <li>{{ message }}</li>
				{% endfor %}
				</ul>
			  {% endif %}
			{% endwith %}
            {% block content %}{% endblock %}
        </div>
      </div>


      <div id="footer">
        {% block footer %}
        CS340 Project Group 36 - Spencer Wagner and Megan Marshall
        {% endblock %}
		<br>
		Image credit: https://img.icons8.com/
      </div>

    </div>
  </body>

</html>
