{% extends "layout.html" %}
{% block title %}Prizes{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Prizes</h1>
  <h2>Add a New Prize</h2>
  <form class="input-form" id="prize-form" name="prize-form" action="/prizes" method="POST">
    <fieldset>
      <legend>New Prize:</legend>
	  <input type="hidden" id="new-prize" name="new-prize" value="1">
      <input type="text" name="prize-type" id="prize-type" placeholder="Prize Type"/>
      <input type="submit" class="button" id="prize-submit" value="Add new prize"/>
    </fieldset>
  </form>
  
  <h2>Current Prizes</h2>
    <table id="prize-table">
      <tr>
		<th>Prize ID</th>
		<th>Prize Type</th>
      </tr>

	  {% for prize in allPrizes %}
		<tr>
			<td>{{ prize['prizeID'] }}</td> 
			<td>{{ prize['prizeType'] }}</td>
		</tr>
      {% endfor %}
	  
	  
    
    </table>

  <h2>Give a Fighter a Prize</h2>
  <form class="input-form" id="prize-won-form" name="prize-won-form"  method="POST">
    <fieldset>
      <legend>New Prizewinner:</legend>
	  <input type="hidden" id="prize-won" name="prize-won" value="1">
      <input type="text" name="prize-id" id="prize-id" placeholder="Prize ID"/>
	  <input type="text" name="fighter-id" id="fighter-id" placeholder="Fighter ID"/>
      <input type="submit" class="button" id="prize-won-submit" value="Add a new prizewinner"/>
    </fieldset>
  </form>

  <h2>Prizewinners</h2>
	<p> Note: Prizes can be awarded to more than one Fighter! </p>
  <table id="prizewinners-table">
    <tr>
      <th>Prize ID</th>
      <th>Prize Type</th>
      <th>Fighter ID</th>
      <th>Fighter Name</th>
    </tr>

	{% for prize in prizesWon %}
		<tr>
		  <td>{{ prize['prizeID'] }}</td> 
		  <td>{{ prize['prizeType'] }}</td>
		  <td>{{ prize['fighterID'] }}</td>
		  <td>{{ prize['fighterName'] }}</td>
		  <td>
			<form class="table-form" name="deletePrizeForm"  method="POST" >
				<input type="hidden" id="prize-won-delete" name="prize-won-delete" value="({{ prize['prizeID']}}, {{ prize['fighterID'] }})">  
				<input id="deletePrize" type="submit" name="deletePrize" value="Delete" />
			</form> 
      </td>
		</tr>
    {% endfor %}
  </table>

{% endblock %}