{% extends "layout.html" %}
{% block title %}Prizes{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="center-child">
    <h1>Prizes</h1>
    <h2>Add a New Prize</h2>
    <form class="input-form" id="prize-form" name="prize-form">
        <fieldset>
          <legend>New Prize:</legend>
          <input type="text" name="prize-type" id="prize-type" placeholder="Prize Type"/>
          <input type="submit" class="button" id="prize-submit" value="Add new prize"/>
        </fieldset>
    </form>

    <h2>Prizewinners</h2>
    <table id="prize-table">
      <tr>
        <th>Prize ID</th>
        <th>Prize Type</th>
        <th>Fighter ID</th>
        <th>Fighter Name</th>
      </tr>
      <tr>
        <td>Prize IDs, numerically</td>
        <td>Type of Prize</td>
        <td>Prize Winner's ID</td>
        <td>Prize Winner's Name</td>
      </tr>
    </table>
  </div>
{% endblock %}