{% extends "layout.html" %}
{% block title %}Weapons{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Weapons</h1>
  <h2>Create a New Weapon</h2>

  <form name="newWeaponForm" method="POST">
    <fieldset>
      <legend>Enter Weapon Details:</legend>
      <input type="text" name="weapon-name" id="weapon-name" placeholder="Weapon Name"/>
      <input type="text" name="weapon-type" id="weapon-type" placeholder="Weapon Type"/>
      <label for="weapon-ranged">Is this a ranged weapon?</label>
      <select id="weapon-ranged" name="weapon-ranged">
        <option value="1">Yes</option>
        <option value="0">No</option>
      </select>
      <input type="submit" class="button" id="fighter-name-submit" value="Create"/>
    </fieldset>
  </form>
    
  <h2>Current Weapons</h2>
  <table id="weapon-table">
    <tr>
      <th>Weapon Name</th>
      <th>Weapon ID</th>
      <th>Weapon Type</th>
      <th>Ranged?</th>
      <th>Current Fighters</th>
    </tr>
      
    {% for weapon in weapons %}
    <tr>
      <td>{{ weapon['weaponName'] }}</td> 
      <td>{{ weapon['weaponID'] }}</td>
      <td>{{ weapon['weaponType'] }}</td>
      <td>{{ weapon['ranged'] }}</td>
      <td>{{ weapon['WeaponUsers'] }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}





