{% extends "layout.html" %}
{% block title %}Fighters{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="fixed-page">
    <h2>Weapon Update</h2>

    <table id="selected-weapon">
      <tr>
        <th>Weapon Name</th>
        <th>Weapon ID</th>
        <th>Weapon Type</th>
        <th>Ranged?</th>
        <th>Current Fighters</th>
      </tr>

      {% for weapon in weapons %}
      <tr>
        <td>{{ weapon['weaponName'] }}</td> 
        <td>{{ weapon['weaponID'] }}</td>
        <td>{{ weapon['weaponType'] }}</td>
        <td>{{ weapon['ranged'] }}</td>
        <td>{{ weapon['WeaponUsers'] }}</td>
      </tr>
      {% endfor %}
    </table><br>


    <h2>Modify the Weapon</h2>
    <form class="input-form" id="edit-weapon-form" name="edit-weapon-form" method="POST">
      <fieldset>
        <legend>Weapon Update:</legend>
        <input type="hidden" id="weapon-update" name="weapon-update" value="1">
        <input type="text" name="weapon-name" id="weapon-name" required value="{{ weapons[0]['weaponName'] }}" />
        <input type="text" name="weapon-type" id="weapon-type" required value="{{ weapons[0]['weaponType'] }}" />
        <label for="weapon-ranged">Is this a ranged weapon?</label>
        <select id="weapon-ranged" name="weapon-ranged">
          <option value="1" {% if  weapons[0]['ranged'] == "Yes" %} selected="selected"{% endif %}>Yes</option>
          <option value="0" {% if  weapons[0]['ranged'] == "No" %} selected="selected"{% endif %}>No</option>
        </select>
        <input type="submit" class="button" id="update-weapon-button" value="Update Weapon"/>
      </fieldset>
    </form>
  </div>
  <img id="fight-img" src="{{ url_for('static', filename='images/noun_sword.png') }}">

{% endblock %}